<!-- app.component.html -->
<app-loading-spinner></app-loading-spinner>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/vehicles">Vehicle Catalog</a>
      <a mat-list-item routerLink="/transactions">Transactions</a>

      <!-- Conditionally show the user profile link -->
      <a mat-list-item *ngIf="isAuthenticated()" routerLink="/profile">User Profile</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <!-- Your header content goes here -->
      <div class="header-content">
        <button *ngIf="isAuthenticated()" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div style="height: 30px; padding: 25px">
          <h1>Vehicle Management System</h1>
        </div>

        <!-- User actions menu (conditionally) -->
        <div *ngIf="isAuthenticated()" class="menu-button">
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item routerLink="/profile">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </div>
      </div>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      <!-- Your footer content goes here -->
      <p>&copy; 2023 Vehicle Management System</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
