<!-- home.component.html -->

<div class="container">
  <h2>Welcome to the VMS, {{this.userProfile.name}}</h2>

  <mat-card class="info-card">
    <h3>Total Vehicles</h3>
    <p>{{ totalVehicles }}</p>
  </mat-card>

  <mat-card class="info-card">
    <h3>System Information</h3>
    <p>This system helps you manage your vehicle catalog and user registrations. Keep track of transactions and enjoy the seamless management experience.</p>
  </mat-card>

  <mat-card class="info-card">
    <h3>Contact Information</h3>
    <p>If you have any questions or need assistance, please contact our support team.</p>
  </mat-card>

  <!-- Add more information cards as needed -->

</div>
