/* Style the landing page */
.landing-page {
  background-image: url(https://images.pexels.com/photos/5572229/pexels-photo-5572229.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: -12px;
}

/* Style the user registration form */
.user-login {
  text-align: center;
  padding: 35px;
  max-width: 500px; /* Set a maximum width for the form */
}

.login-content {
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  // background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 435px;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

/* Style the input fields */
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

p {
  margin-top: 35px;
}

h1 {
  padding-top: 35px;
}
